@import url(http://fonts.googleapis.com/css?family=Muli);
/* line 1, ../scss/_headings.scss */
* {
  font-family: Muli;
  line-height: 1.5;
}

/* line 6, ../scss/_headings.scss */
h1 {
  font-size: 100px;
  text-shadow: 1px 1px 1px #fff;
}

/* line 11, ../scss/_headings.scss */
h2 {
  font-size: 50px;
}

/* line 15, ../scss/_headings.scss */
h4 {
  font-size: 25px;
}

/* line 19, ../scss/_headings.scss */
h5 {
  font-size: 20px;
}

/* line 23, ../scss/_headings.scss */
h6 {
  font-size: 18px;
  color: white;
}

/* line 28, ../scss/_headings.scss */
.header {
  height: 125px;
  background-color: #ebebeb;
}

/* line 33, ../scss/_headings.scss */
.logo {
  padding-top: 15px;
}

/* line 37, ../scss/_headings.scss */
.phone_menu {
  padding-top: 25px;
  position: fixed;
  z-index: 1;
}
@media screen and (min-width: 960px) {
  /* line 37, ../scss/_headings.scss */
  .phone_menu {
    display: none;
  }
}

/* line 46, ../scss/_headings.scss */
.nav {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 46, ../scss/_headings.scss */
  .nav {
    display: inline;
    font-size: 25px;
    margin-top: 60px;
  }
}

/* line 57, ../scss/_headings.scss */
.carousel {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 57, ../scss/_headings.scss */
  .carousel {
    display: inline;
  }
}

/* line 64, ../scss/_headings.scss */
.over_carousel {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 64, ../scss/_headings.scss */
  .over_carousel {
    display: inline;
    position: absolute;
    background: transparent;
    margin-top: 100px;
    width: 100%;
    margin-left: -50%;
    z-index: 1;
    text-align: center;
    margin-left: 0.3%;
  }
}

/* line 79, ../scss/_headings.scss */
.footer {
  height: 100px;
  background-color: #323d40;
  padding-top: 40px;
}

/* line 1, ../scss/_content.scss */
.journals_header {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 1, ../scss/_content.scss */
  .journals_header {
    display: block;
    height: 360px;
    margin-left: -30px;
  }
}

/* line 10, ../scss/_content.scss */
.over_journals_header_white {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 10, ../scss/_content.scss */
  .over_journals_header_white {
    display: block;
    position: absolute;
    background: transparent;
    margin-left: 155px;
    margin-top: 90px;
    color: white;
    text-align: center;
  }
}

/* line 23, ../scss/_content.scss */
.over_journals_header_black {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 23, ../scss/_content.scss */
  .over_journals_header_black {
    display: block;
    position: absolute;
    background: transparent;
    margin-left: 190px;
    margin-top: 275px;
    text-align: center;
  }
}

/* line 35, ../scss/_content.scss */
.journals_header_mobile {
  display: block;
}
@media screen and (min-width: 960px) {
  /* line 35, ../scss/_content.scss */
  .journals_header_mobile {
    display: none;
  }
}

/* line 42, ../scss/_content.scss */
.after_journals_header_mobile {
  text-align: center;
  margin-top: 35px;
}
@media screen and (min-width: 960px) {
  /* line 42, ../scss/_content.scss */
  .after_journals_header_mobile {
    display: none;
  }
}

/* line 50, ../scss/_content.scss */
.line_after {
  color: #323d40;
  width: 300px;
  border-bottom: 1px solid #323d40;
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  /* line 50, ../scss/_content.scss */
  .line_after {
    display: none;
  }
}

/* line 60, ../scss/_content.scss */
.scrolling {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 60, ../scss/_content.scss */
  .scrolling {
    display: block;
    background-image: url("../images/paper.jpg");
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* line 70, ../scss/_content.scss */
.scrolling_text {
  margin-top: 75px;
}

/* line 74, ../scss/_content.scss */
.after_scrolling_text {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 74, ../scss/_content.scss */
  .after_scrolling_text {
    display: block;
    background-image: url("../images/paper.jpg");
    padding-top: 30px;
  }
}

@media screen and (min-width: 960px) {
  /* line 84, ../scss/_content.scss */
  .img_gallery_mobile {
    display: none;
  }
}

/* line 91, ../scss/_content.scss */
.gallery_mobile {
  width: 370px;
  height: 200px;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 60px;
}

/* line 99, ../scss/_content.scss */
.create_yours {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 99, ../scss/_content.scss */
  .create_yours {
    display: block;
    background-image: url("../images/paper.jpg");
    padding-bottom: 60px;
  }
}

/* line 108, ../scss/_content.scss */
.create_yours_border {
  height: 90px;
  border-right: 1px solid #323d40;
  border-bottom: 1px solid #323d40;
  border-left: 1px solid #323d40;
}

/* line 115, ../scss/_content.scss */
.create_yours_button {
  width: 200px;
  height: 60px;
  background-color: #ffa2c8;
  border: 1px solid #ffa2c8;
  border-radius: 15px;
  margin-top: -20px;
  margin-left: -30px;
  color: white;
}

/* line 126, ../scss/_content.scss */
.story {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 126, ../scss/_content.scss */
  .story {
    display: block;
    background-image: url("../images/colour_tree.png");
    background-repeat: no-repeat;
    margin-top: 15px;
    font-size: 16px;
  }
}

/* line 137, ../scss/_content.scss */
.story_header {
  margin-top: 60px;
  margin-bottom: 50px;
}

/* line 142, ../scss/_content.scss */
.text_zoe {
  float: right;
  margin-top: 110px;
}

/* line 147, ../scss/_content.scss */
.text_zoe_signature {
  float: right;
}

/* line 151, ../scss/_content.scss */
.text_story {
  margin-top: 25px;
}

/* line 155, ../scss/_content.scss */
.text_story_end {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 960px) {
  /* line 160, ../scss/_content.scss */
  .mobile_story {
    display: none;
  }
}

/* line 167, ../scss/_content.scss */
.contact {
  background-color: none;
  height: 200px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  /* line 167, ../scss/_content.scss */
  .contact {
    height: 300px;
    background-color: #b9e1ed;
  }
}

/* line 177, ../scss/_content.scss */
.contact_us {
  font-size: 50px;
  padding-top: 60px;
}
@media screen and (min-width: 960px) {
  /* line 177, ../scss/_content.scss */
  .contact_us {
    font-size: 100px;
  }
}

/* line 185, ../scss/_content.scss */
.contact_info {
  background-color: none;
}
@media screen and (min-width: 960px) {
  /* line 185, ../scss/_content.scss */
  .contact_info {
    height: 250px;
    background-color: #ebebeb;
  }
}

@media screen and (min-width: 960px) {
  /* line 194, ../scss/_content.scss */
  .address {
    padding-top: 30px;
  }
}

/* line 200, ../scss/_content.scss */
.map {
  padding-top: 25px;
}

/* line 205, ../scss/_content.scss */
.form {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 205, ../scss/_content.scss */
  .form {
    display: block;
    height: 250px;
    background-color: #ebebeb;
  }
}

/* line 214, ../scss/_content.scss */
.contact_form {
  margin-top: 35px;
  padding-left: 30px;
  margin-right: 30px;
}

/* line 220, ../scss/_content.scss */
.success {
  margin-top: 100px;
}

/* line 224, ../scss/_content.scss */
.contact_footer {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 224, ../scss/_content.scss */
  .contact_footer {
    display: block;
  }
}

/* line 231, ../scss/_content.scss */
.celebrate {
  clear: both;
  display: block;
  margin-top: 30px;
  height: 80px;
  background-color: #84c8f1;
}
@media screen and (min-width: 768px) {
  /* line 231, ../scss/_content.scss */
  .celebrate {
    display: none;
  }
}

/* line 7, ../scss/main.scss */
body {
  margin: 0 auto;
}

/* line 11, ../scss/main.scss */
.container {
  max-width: 960px;
}

/* line 15, ../scss/main.scss */
.clearfix:after, article:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

/* line 24, ../scss/main.scss */
.clearfix, article {
  display: inline-block;
}

/* line 28, ../scss/main.scss */
* html .clearfix, * html article {
  height: 1%;
}

/* line 32, ../scss/main.scss */
.clearfix, article {
  display: block;
}

/* line 40, ../scss/main.scss */
a {
  text-decoration: none;
  color: black;
}
